<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
<a href="/logout">Log Out</a>

<h1>Current Tournaments</h1>

<ul>
  <%@tournaments.each do |tournament| %>
    <a href="/tournament/<%=tournament.id%>"><li><%=tournament.name %></li></a>
  <% end %>
</ul>