<h1>Login</h1>

<h2>Please provide your email and password:</h2>
<form action="/login" method="post">
  <input class="block_form" type="text" name="email" placeholder="Email">
  <input class="block_form" type="password" name="password" placeholder="Password">
  <input class="block_form" type="submit">
</form>

