<h1><%=@tournament.name%></h1>

<h2><a href="/user/tournament/<%=@tournament.id%>/pools">Add or Edit Pools</a></h2>

<h3>Competitors:</h3>

<ul>
  <%@players.each do |player| %>
    <a href="/user/player/<%=player.id%>"><li><%=player.name %></li></a>
  <% end %>
</ul>
